---
title: Image Segmentation for Tekkotsu
---

<header>
# Image Segmentation <span>Tekkotsu</span>
</header>
### Jeff Chen (jchen4), Cary Yang (caryy)

When examining the pictures, we noticed that both the regular (rgb) images and the depth images had very clearly delineated blocks. The first thing that we tried took only the rgb image into account -- we simply thresholded the image with an arbitrary constant (0.65) using `img2bw`, then found the largest blob using `regionprops`. The output of `regionprops` included all necessary information, including the blob's centroid, orientation, and axis lengths. This worked well for the pictures with only the top face of the block showing. However, when more than one face of the block was showing, the calculated centroid would be offset, since the threshold would capture both faces of the block.

<aside class="figure">
	<h4 class="figure-title">Figure 1: Output on `rgba1.png`</h4>
	<%= image_tag 'asst2fig1.png' %>
</aside>

Next, we tried doing the same thing, but on the depth image. However, while the depth image was able to clearly distinguish between the block faces, the pictures were not taken from directly above the block, so some parts of the block were relatively far away. In fact, with a basic threshold, to capture all of the block, other pieces of the image would also be captured, creating other blobs that were bigger than the block blobs.

The solution we found was to combine the two strategies. First, we found the largest, but potentially inaccurate, blob from the rgb image. Next, we found all of the blobs from the depth image with a relatively unrestrictive threshold, to ensure that the entire top face of the blob would be captured. Then, we iterated through the depth blobs' centroids, finding the depth blob that had the closest centroid to the rgb blob. We then used the found depth blob to find the centroid, orientation, and axis length data. This method proved remarkably accurate -- though the images did not have any provided scale, the centroids appear to be within 10 pixels, and the orientation is almost perfect.

<aside class="figure">
	<h4 class="figure-title">Figure 2: Output on `rgba8.png`</h4>
	<%= image_tag 'asst2fig8.png' %>
</aside>

Our function `get_blob_data` will display a window with the calculated centroid (green dot), and major and minor axes of the circumscribed ellipse (blue and red lines, respectively) on top of the rgb image. In addition, the image is overlayed with a translucent version of the segmented depth image. The function takes in as input the image number and will output a vector of `[centroid, orientation]`.


<div id="download-btn-container">
  <a href="asst2code.zip" class="btn blue" role="button">
    <i class="icon ion-code-download"></i>
    Download Our Code
  </a>
</div>
